.App {
  text-align: center;
  background-color: #f9f9f9;
  min-height: 900px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.NavigationBar { 
  background-color: #66a3ff; 
  height: 10%;
}

.NavigationBar .ul-style {
  display: flex;
  
}

.ul-style .li-style {
  list-style-type: none;
  padding: 20px;
  color: #585858;
  font-size: 18px;
  font-weight: bold;
  border: 1px groove #282c34;
  border-radius: 5%;
}

.button-styleRomanian {
  background-color: #585858;
  text-align: center;
  position: absolute;
  height: 30px;
  width: 120px;
  top: 34px;
  right: 200px;
  color: white;
  cursor: pointer;
  font-size: 15px;
  border-radius: 10px;
  border: black;
}

.button-styleEnglish {
  background-color: #585858;
  text-align: center;
  position: absolute;
  height: 30px;
  width: 120px;
  top: 34px;
  right: 50px;
  color: white;
  cursor: pointer;
  font-size: 15px;
  border-radius: 10px;
  border: black;
}

.News {
  text-align: justify;
  padding: 15px 30px;
}

.Graduation {
  text-align: justify;
  padding: 15px 30px;
}

.Student {
  text-align: justify;
  padding: 15px 50px;
  width: 40%;
  float: left;
}

.Student .ul-style{
  list-style-type: square;
}

.ProfilePhoto {
  padding: 35px 30px;
  float: left;
  border: 2px solid #ddd;
  border-radius: 30px;
}

.Interests {
  text-align: justify;
  padding: 15px 30px;
}

.Interests .ul-style{
  list-style-type: square;
}

.Coordinator {
  text-align: justify;
  padding: 15px 30px;
}

.Research {
  padding: 15px 30px;
  text-align: justify;
}

.Contact {
  text-align: justify;
  padding: 15px 30px;
}

.footer {
  position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: rgb(56, 54, 54);
   color: white;
   text-align: center;
}